
.decidim-hacks {
	h3 {
		margin: 1em 0;
	}
	h4 {
		font-size: 1.1rem;
		font-weight: 600;
		line-height: 1.5;
		border-bottom:1px solid #ccc;
		margin: 2em 0;
		&:before {
			content: "👉";
			margin-right: 0.5em;
		}
	}

	code {
		line-height: 1;
		background: #f0f0f0;
	}

	pre {
		border: 1px solid #e8e8e8;
		background: #f0f0f0;
		p,code {
			line-height: 1.2;
		}
		code {
			display: block;
			padding: 1em 0 1em 1em;
			margin: 0;
			border: none;
		}
		margin: 1em 0;
	}

	blockquote {
	  background: rgba(var(--warning-rgb), 0.2);
	  border-left: 10px solid var(--warning);
	  margin: 1em 0;
	  padding: 0.5em;
		&:before {
	  	content: "💡";
		  font-size: 2em;
		  display: block;
		  margin: -10px 0 0 -10px;
		}
	}
}
